:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturateBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
    --sm: 0.80rem;
    --md: 1rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
}
.main-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--paleBlue);
}
.card {
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    max-width: 28rem;
    border-radius: 1rem;
    box-shadow: -1px 1px 23px -8px var(--desaturateBlue);
}
.card-information {
    padding: 2.55rem 3.4375rem 3.4375rem 3.4375rem;
}

/* ------------------------------------------------------ */

.banner {
    display: block;
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
}

/* ------------------------------------------------------ */

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: var(--darkBlue);
    font-weight: 900;
}

.description p {
    font-size: var(--md);
    font-weight: 400;
    margin-top: 0.9375rem;
    margin-bottom: 1rem;
    color: var(--desaturateBlue);
}

/* ------------------------------------------------------ */

.plan-information {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "icon-music title button"
        "icon-music price button"
        ;
    height: 4.6rem;
    background-color: var(--veryPaleBlue);
    border-radius: 0.76rem;
}
.plan-information #icon-music {
    grid-area: icon-music;
    justify-self: center;
    align-self: center;
}
.plan-information #title {
    grid-area: title;
    align-self: end;
    font-size: var(--sm);
    font-weight: 700;
}
.plan-information #price {
    grid-area: price;
    font-size: var(--sm);
    font-weight: 400;
}
.plan-information #button {
    grid-area: button;
    justify-self: center;
    align-self: center;
    font-weight: 400;
    color: var(--brightBlue);
}
.plan-information #button:hover {
    color: var(--brightBlue);
    opacity: 0.7;
}

/* ------------------------------------------------------ */

.payment-section {
    display: flex;
    flex-direction: column;
    margin-top: 1.390rem;
}
.payment-section #pay-button {
    display: flex;
    padding: 0.96rem;
    justify-content: center;
    margin-bottom: 0.625rem;
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--brightBlue);
    color: var(--paleBlue);
    box-shadow: -1px 4px 24px -10px var(--desaturateBlue);
}
.payment-section #cancel-button {
    display: flex;
    padding: 0.96rem;
    justify-content: center;
    font-weight: 700;
    border: none;
    background-color: white;
    color: var(--desaturateBlue);
    cursor: pointer;
}
.payment-section #pay-button:hover {
    background-color: var(--brightBlue);
    opacity: 0.7;
}
.payment-section #cancel-button:hover {
    color: var(--darkBlue);
}

/* ------------------------------------------------------ */

